.slider-normal {
    /*-webkit-box-shadow: 0 1px 0 0px #424242, 0 1px 0 #060607 inset, 0px 2px 10px 0px black inset, 1px 0px 2px rgba(0, 0, 0, 0.4) inset, 0 0px 1px rgba(0, 0, 0, 0.6) inset;*/
    -webkit-appearance: none; /*去除默认样式*/
    margin-top: 42px;
    background-color: #ebeff4;
    /*border-radius: 15px;*/
    width: 20% !important;
    -webkit-appearance: none;
    height:4px;
    padding: 0;
    border: none;

    /*input的长度为80%，margin-left的长度为10%*/
}
.slider-normal::-webkit-slider-thumb {
    -webkit-appearance: none;/*去除默认样式*/
    cursor: default;
    top: 0;
    height: 20px;
    width: 20px;
    transform: translateY(0px);
    /*background: none repeat scroll 0 0 #5891f5;*/
    background: #fff;
    border-radius: 15px;
    border: 5px solid #006eb3;
    /*-webkit-box-shadow: 0 -1px 1px #fc7701 inset;*/
}



/*************************************************************/



/*去除系统默认的样式*/
.slider-rounded {
    -webkit-appearance: none;
    width: 300px;
    border-radius: 10px;
    /*这个属性设置使填充进度条时的图形为圆角*/
}

.slider-rounded::-webkit-slider-thumb {
    -webkit-appearance: none;
}

/*自定义滑动控件的轨道*/
.slider-rounded::-webkit-slider-runnable-track {
    height: 15px;
    border-radius: 10px;
    /*将轨道设为圆角的*/
    box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #0d1112;
    /*轨道内置阴影效果*/
}
/*原始的控件获取到焦点时，会显示包裹整个控件的边框，所以还需要把边框取消。*/
.slider-rounded:focus {
    outline: none;
}

.slider-rounded::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    margin-top: -5px; /*使滑块超出轨道部分的偏移量相等*/
    background: #ffffff;
    border-radius: 50%; /*外观设置为圆形*/
    border: solid 0.125em rgba(205, 224, 230, 0.5); /*设置边框*/
    box-shadow: 0 .125em .125em #3b4547; /*添加底部阴影*/
}