/*圆角边框*/
p.border-radius{
    text-align: center;
    width: 200px;
    background-color: #dddddd;
    border: #a1a1a1 solid 2px;
    border-radius: 25px;
    -moz-border-radius: 25px;   /*old Firefox*/
}


/*边框阴影*/
div.box-shadow{
    height: 200px;
    width: 300px;
    background-color: orange;
    box-shadow: 10px 10px 5px #888888;
}


/*边框图片*/
p.border-image1{
    border: transparent solid 15px;
    text-align: center;
    width: 200px;
    border-image: url("../../Resources/img/flower_icon.png") 30 round;
    -moz-border-image: url("../../Resources/img/flower_icon.png") 30 round;          /*old Firefox*/
    -webkit-border-image: url("../../Resources/img/flower_icon.png") 30 round;       /*Safari & Chrome*/
    -o-border-image: url("../../Resources/img/flower_icon.png") 30 round;            /*Opera*/
}

p.border-image2{
    border: transparent solid 15px;
    text-align: center;
    width: 200px;
    border-image: url("../../Resources/img/her.jpg") 100 round;
}
