<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>float</title>
    <style>
        label{
            font-weight: bold;
            font-size: large;
            display: block;
        }
    </style>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

<h1>浮动</h1>
<label>浮动的框会向➡️/⬅️移动，直到外边缘碰到包含框或另一个浮动框的边框为止；浮动框不再文档的普通流中<br />常用在图像上，使文本围绕在图像周围</label>
<hr />

<p>div1设置➡️浮动</p>
<div class="container">
    <div id="div1">div1</div>
    <div id="div2">div2</div>
    <div id="div3">div3</div>
</div>
<hr />

<p>div4 div5 div6设置⬅️浮动</p>
<div class="container">
    <div id="div4">div4</div>
    <div id="div5">div5</div>
    <div id="div6">div6</div>
</div>
<hr />

<p>div7 div8 div9设置⬅️浮动<br />但由于包含框太窄，无法容纳水平排列的三个浮动元素，那么其他浮动块向下移动</p>
<div class="container">
    <div id="div7">div7</div>
    <div id="div8">div8</div>
    <div id="div9">div9</div>
</div>
<hr />


</body>
</html>
