div{
    width: 100px;
    height: 80px;
    margin: 20px;
}

div.rotate3d{
    background-color: orange;

    transform: rotate3d(3,2,1,10deg);
}
div.rotateX{
    background-color: yellow;

    transform: rotateX(70deg);
    -webkit-transform: rotateX(70deg);
    -moz-transform: rotateX(70deg);
}

div.rotateY{
    background-color: yellow;

    transform: rotateY(50deg);
    -webkit-transform: rotateY(50deg);
    -moz-transform: rotateY(50deg);
}

div.rotateZ{
    background-color: yellow;

    transform: rotateZ(50deg);
    -webkit-transform: rotateZ(50deg);
    -moz-transform: rotateZ(50deg);
}
