/*链接中的伪类*/
a:link{
    color: lightblue;
    text-decoration: none;
}
a:hover{
    color: blue;
    text-decoration: underline;
    background-color: yellow;
    font-size: 150%;
}
a:visited{
    color: red;
    text-decoration: line-through;
}
a:active{
    color: purple;
}


/*:first-child 首个子对象生效*/
h6:first-child{
    color:green;
}

ul.first-child li:first-child{
    font-weight: bold;
    background-color: lightpink;
}


/*为值为this的lang属性的q元素定义引号的类型*/
q:lang(this){
    quotes: "~~" "~~";
    background-color: lightgoldenrodyellow;
}


/*:before 在元素的内容前面插入新内容*/
h4.before:before{
    content: url("../../Resources/img/flower_icon.png");
}

/*:after 在元素的内容之后插入新内容*/
h4.after:after{
    content: url("../../Resources/img/flower_icon.png");
}


/*:focus 当输入框获取焦点时*/
input:focus{
    background-color: aquamarine;
}


/*:first-line 文本的首行*/
p.first-line:first-line{
    color: brown;
}

/*:first-letter 文本的首字母*/
p.first-letter:first-letter{
    font-size: xx-large;
}
