<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layout Example 1</title>
    <link rel="stylesheet" href="Example1.css">
</head>
<body>

<div class="list-container">
    <span class="list">
        <div class="list-item" ondragover="allowDrop(event);" ondrop="drop(event);">

        </div>
    </span>
    <span class="list">
        <div class="list-item" ondragover="allowDrop(event);" ondrop="drop(event);">

        </div>
    </span>
    <span class="list">
        <div class="list-item" ondragover="allowDrop(event);" ondrop="drop(event);">

        </div>
    </span>
</div>

</body>
</html>