/*使用通用选择器取消所有元素的内外边框*/
/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/


/*百分比*/
p.percentage{
    padding: 20%;
}


/*按照 ⬆️➡️⬇️⬅️的顺序设置*/
h5{
    padding: 10px 0.25em 2ex 5%;
}

/*使用单边属性设置*/
h6{
    padding-top: 10px;
    padding-right: 0.25em;
    padding-bottom: 2ex;
    padding-left: 5%;
}
