body{
    color: white;
    background-image: url("../../Resources/img/forest.jpg");


    /*将所有属性写在一个声明中*/
    background: #ff0000 url("../../Resources/img/forest.jpg") no-repeat fixed center;

    /*背景重复*/
    /*background-repeat: no-repeat;       !*不允许图像在任何方向上平铺*!*/
    /*background-repeat: repeat;          !*在水平垂直方向都平铺*!*/
    /*background-repeat: repeat-x;        !*只在水平方向平铺*!*/
    /*background-repeat: repeat-y;        !*只在垂直方向平铺*!*/



    /*背景定位*/
    /*background-position: center;        !*让图像居中显示，两端填充*!*/
    /*background-position: right top;     !*可以使用两个关键词*!*/
    /*background-position: right;         !*如果只有一个，另一个默认为center*!*/

    /*background-position: 0% 0%;         !*默认处于左上角*!*/
    /*background-position: 50% 50%;       !*图像居中*!*/
    /*background-position: 66% 33%;       !*水平2/3，垂直1/3处*!*/

    /*background-position: 50px 100px;    !*图像的左上角将在元素内边距左上角👉50像素，👇100像素*!*/


    /*背景关联*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;       !*背景相对于可视区是固定的*!*/
    /*background-attachment: scroll;      !*默认值是随文档滚动的*!*/
}

p{
    background-color: aquamarine;
    color: black;
}

.padding{
    padding: 20px;
}

p.flower{
    height: 393px;
    width: 400px;
    padding: 20px;
    background-image: url("../../Resources/img/flower.png");
    background-position: right top;
    background-repeat: no-repeat;
}

p.siri{
    color: white;
    height: 284px;
    padding: 20px;
    background-image: url("../../Resources/img/siri.gif");
}

a.her{
    height: 640px;
    width: 640px;
    padding: 20px;
    color: white;
    background-image: url("../../Resources/img/her.jpg");
}

form{

}
textarea{
    height: 640px;
    width: 640px;
    background-image: url("../../Resources/img/icon.jpg");
}
