div{
    height: 80px;
    width: 100px;
    text-align: center;
}

div.width{
    background-color: yellow;

    transition: width 2s;
    -moz-transition: width 2s;
    -webkit-transition: width 2s;;
    -o-transition: width 2s;;
}

div.width:hover{
    width: 300px;
}


div.multi{
    background-color: orange;
    font-size: 50px;

    transition: width 2s, height 2s;
    -moz-transition: width 2s, height 2s, -moz-transform 2s;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    -o-transition: width 2s, height 2s, -o-transform 2s;
}
div.multi:hover{
    width: 200px;
    height: 200px;

    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
